{% extends "base.html" %}

{% block title %}Add Movie - MovieWeb App{% endblock %}

{% block content %}
<article id="movies" class="panel intro">
    <header>
        <h1>Add a New Movie for {{ user.name }}</h1>
    </header>
    <section>
    <form method="POST">
        <div class="form-group">
            <label for="title">Movie Title:</label>
            <input type="text" id="title" name="title" value="{{ movie_name }}" required>
        </div>
        <button type="submit" class="add-button">Add Movie</button>
    </form>
    </section>
</article>
{% endblock %}