{% extends "base.html" %}

{% block title %}Users - MovieWeb App{% endblock %}

{% block content %}
<article id="users" class="panel intro">
    <header>
        <h1>Users</h1>
        <!-- Add user button -->
        <a href="{{ url_for('add_user') }}" class="action-form">
            <button type="submit" class="add-button">Add New User</button>
        </a>
    </header>
    <section>
        <!-- User list table -->
        <div class="table-container">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="/users/{{ user.id }}" style="color:#555">{{ user.name }}</a></td>
                            <td>
                                <a href="{{ url_for('delete_user', user_id=user.id) }}" class="action-btn" onclick="return confirm('Are you sure you want to delete this user?');">Remove User</a>
                                <a href="{{ url_for('add_movie', user_id=user.id) }}" class="action-btn">Add Movie</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No users found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</article>
{% endblock %}